{{#if normal}}
  <h3 style="text-align: center; width: 100%">{{normal}}</h3>
  <table class="table table-striped table-bordered">
    {{{table normaltd}}}
  </table>
{{/if}}

{{#if datatable}}
  <h3 style="text-align: center; width: 100%">{{normal}}</h3>
  <table class="datatable table table-striped table-bordered">
    {{{table datatabletd}}}
  </table>
{{/if}}

{{#if hitboxv}}
  <h3 style="text-align: center; width: 100%">{{hitboxv}}</h3>
  <table class="table table-striped table-bordered" id="hitbox">
    {{hitboxvertical hitboxtd}}
  </table>
{{/if}}

{{#if hitbox}}
  <h3 style="text-align: center; width: 100%">{{hitbox}}</h3>
  <table class="table table-striped table-bordered" id="hitbox">
    {{hitbox hitboxtd}}
  </table>
{{/if}}

{{#if vertical}}
  <h3 style="text-align: center; width: 100%">{{vertical}}</h3>
  {{#if frame}}
    <table class="table table-bordered" id="framestrip">
  {{else}}
    <table class="table table-striped table-bordered" style="width: 100%">
  {{/if}}
    {{verticaltable verticaltd}}
  </table>
{{/if}}