body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
   padding: 30px 40px 30px 40px;
}

.dropdown {
   display: inline-grid;
   margin-right: 15px;
}

#framestrip td, #framestrip th{
   width: 30px;
   height: 30px;
   vertical-align: middle;
}

#framestrip td {
   text-align: center;
   padding: 0px;
}

#framestrip th {
   text-align: right;
   padding-right: 5px;
}